<div class='px-3 link-container <%= @navigation_name == "buyer" ? 'active' : '' %>'>
  <a
    class='w-100 d-flex align-items-center text-align-left py-2'
    href='#'
    data-toggle='collapse'
    data-target='#buyer'
    aria-expanded='true'
    aria-controls='buyer'
  >
  <i class="fas fa-users mr-3 icon"></i>
    Users
  </a>
  <div
    id='buyer'
    class='collapse px-5'
    aria-labelledby='headingOne'
    data-parent='#accordion'
  >
  <a href="/buyers" class='d-block pl-2 pb-3'>
    All
  </a>
  <a href="/buyers/new" class='d-block pl-2 pb-3'>
    New
  </a>
  </div>
</div>