<div class="rating mb-2">
  <% for i in 1..5 do %>
    <% if i <= rating %>
      <i class="fa fa-star text-warning" style="color: orange"></i>
    <% else %>
      <i class="fa fa-star text-secondary" style="color: gray"></i>
    <% end %>
  <% end %>
</div>
