<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <br/>
    <p>Your verification code is:</p>
    <b><%= @user.verification_code %></b>
    <br/>
  </body>
</html>