<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="gmail_quote">
      <p>Hello <%= @user.name %>,</p>
      <p></p>
      <p>Welcome to rorens!</p>
      <p>To activate your account please click the button below to verify your email address. </p>
      <p><a href="http://rorens.com/confirm_email/<%= @user.confirmation_token %>"  target="_blank"><button style="border:0 solid #2d8cff;display:inline-block;font-size:14px;padding:15px 50px 15px 50px;text-align:center;font-weight:700;text-decoration:none;background-color:#00a8cc;color:#ffffff;margin-left:100px">Activate Account</button></a><br>
      </p>
      <p>If you have questions or concerns, you may email us on <a href="mailto:test.email.rorens@gmail.com" target="_blank">test.email.rorens@gmail.com</a></p>
      <p>Thank you.</p>
      <div class="yj6qo"></div>
      <div class="adL">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </body>
</html>
