$primary_text_color: #707070;
$primary_color_low: #c5deff;
$primary_color: #001eff;
$secondary_color: black;
$secondary_color_50: #fab722cc;
$white: white;
$filter-field-seperator-width: auto;
$side-by-side-filter-input-width: auto;