// ActiveMaterial

// @import "active_admin/mixins";
// @import "arctic_admin/base";
$primary-color: #00b5fd;
$filter-field-seperator-width: auto;
$side-by-side-filter-input-width: auto;
@import "arctic_admin/base"; 
@import "select2";
@import "select2-bootstrap";
@import "switch"; 
@import "active_admin_datetimepicker";


.status_tag{
  &.active, &.verified, &.online, &.ready{
    background-color: green;
  }
  &.inactive, &.unverified, &.google{
    background-color: red;
  }
  &.in_progress{
    background-color: orange
  }
  &.email, &.done{
    background-color: rgb(135, 135, 135);
  }
  &.facebook, &.pending{
    background-color: blue;
  }
  &.apple{
    background-color: rgb(0, 0, 0);
  }
}

.width-100{
  width: 100%
}

.actions{
  margin-top: 12px;
}

.question-input-container{
  border: 1px solid #e4eaec;
  padding-top: 12px;
  padding-bottom: 12px;
}

.has_many_container.question_choices{
  margin: 20px 100px !important;
  border: 1px solid #e4eaec;
  padding: 20px
}

.errors{
  margin-bottom: 20px;
  li{
    color: #dc4747
  }
}

.main-panel{
  border: 1px solid #e4eaec;
  padding: 20px
}

.option-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  grid-gap: 20px;
  p{
    margin: 0 !important;
    text-shadow: 0 0 0px 100px #f8f8f8;

  }
  .option-item{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding: 12px;

    .option-text-container{
      z-index: 100
    }

    .option-img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      z-index: 0
    }

    .option-label{
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.text-danger{
  color: red !important
}

.text-success{
  color: rgb(0, 146, 0) !important
}

.version-manager-form{

  h3{
    margin-bottom: 12px;
  }

  .column{
    width: 50%;
  }

  .version_manager_submit{
    padding: 10px !important;
    display: inline-block !important;
    margin-top: 12px;
    width: 200px !important;
  }
}

.hide{
  display: none
}

#roullete_location_restriction{
  border: 1px solid rgb(218, 218, 218);
  padding: 12px;
  margin-bottom: 12px;
}

.lobby-timer-container{
  display: flex;
  flex-direction: row;
  align-items: center;

  .timer-label{
    padding-right: 12px
  }

  .timer{
    
    // background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    align-items: center;

    #timer-minutes, #timer-seconds{
      font-size: 20px;
      text-align: center;
    }

    #button-up, #button-down{
      display: block !important;
      color: black;
      margin-left: 16px;
      font-size: 15px;
      text-decoration: none !important;
    }

    small{
      text-align: center; 
      display: block
    }
  }
}

.let-player-join-btn{
  background-color: yellow !important;
  text-align: center;
  padding: 4px !important;
  color: black !important;
  display: block !important;
  width: 200px !important;
  margin: 25px auto
}

.roulette-button-option{
  margin: 24px 0
}

.pie-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .pie{
    padding: 12px;
    box-shadow: 1px 1px 4px rgb(186, 186, 186); 
    margin-left: 12px;
    margin-bottom: 12px;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
      width: 30px;
      height: 30px;
      border-radius: 32px;
      object-fit: cover
    }
    p{
      margin: 0 12px !important;
    }
  }
}